# Pure UI requirements
PySide6==6.2.2.1
qt-material==2.8.19

# Algorithm requirements (UI not needed)
opencv-python-headless==4.5.5.62
numpy==1.21.5 # Update to 1.22 when numba supports it
numba==0.55.0
rawpy==0.17.0
imageio==2.13.5