# Pure UI requirements
pyside6_essentials==6.3.2
qt-material==2.12

# Algorithm requirements
opencv-python==4.6.0.66 # TODO: Change to "opencv-python-headless"?? --> cvtColor not working??
numpy==1.23.3 # Update to 1.22 when numba supports it
numba==0.56.2
rawpy==0.17.2
imageio==2.21.3
pyfftw==0.13.0

# TODO: Check if really needed (used for image alignment)
scipy==1.9.1 # 1.8.0 gives error on mac pyinstaller build