[Desktop Entry]
Name=ChimpStackr
GenericName=Focus Stacking
Comment=Open-source focus stacking application
Exec=chimpstackr
Icon=chimpstackr
Terminal=false
Type=Application
Categories=Graphics;Photography;
StartupNotify=true
MimeType=image/jpeg;image/png;image/tiff;
